<div class="tool">
  <h1>
    Online store
  </h1>
  <h1 style="font-size: small;float: bottom">
    v 1.1
  </h1>
</div>
<div class="br">

</div>
<div class="tool">
  <button (click)="Phones()" class="button center" id="1" >Телефоны</button>
  <button (click)="Laptops()" class="button center" id="2">Ноутбуки</button>
  <button (click)="Mous()" class="button center" id="3">Мыши</button>
  <button (click)="Key()" class="button center" id="4">Клавиатура</button>
</div>
<div class="br">

</div>

<div class="buy_div">
  <a
    [routerLink]="['/card']">
    <img src="https://cdn-icons-png.flaticon.com/512/3081/3081797.png" class="buy_icon">
  </a>
</div>
<!--<form action="page/new.html" target="_blank">-->
