html {
  background-color: rgb(240,242,245);
}
.facebook_title {
  position: relative;
  font-family: Helvetica;
  font-size: 24px;
  line-height: 28px;
  width: 400px;
  margin-left:200px;
  margin-top: 200px;
}
.facebook_icon {
  height: 106px;
  width: 318px;
}
.facebook_title_text {
  position: relative;
  left: 30px;
}
#square {
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#square1 {
  width: 1699px;
  height: 250px;
  background: white;
  margin-left: -166px;
  margin-right: -128px;
  margin-bottom: -205px;
}
.facebook_registretion {
  position: relative;
  margin-left: 700px;
  margin-top: -224px;
}
#email {
  position: relative;
  width: 364px;
  height: 49px;
  margin-left: 16px;
  top: -428px;
  font-size: 17px;
  border-radius: 6px;

}
#password {
  position: relative;
  width: 364px;
  height: 49px;
  margin-left: 16px;
  top: -304px;
  font-size: 17px;
  border-radius: 6px;
}
.button_face {
  position: relative;
  margin-left: 16px;
  height: 50px;
  width: 370px;
  top: -347px;
  color: white;
  background-color: #1877F8;
  font-size: 20px;
  font-family: Helvetica;
  border: #1877F8;
  border-radius: 6px;
}
.button_face1 {
  position: relative;
  margin-left: 73px;
  height: 45px;
  width: 251px;
  top: -347px;
  color: white;
  background-color: #42B72A;
  font-size: 17px;
  font-family: Helvetica;
  border: #42B72A;
  border-radius: 6px;
}
.focus_l {
  border: 2px solid cornflowerblue;
}
.focus_l:focus {
  outline: #cccccc;
}
.button_face:hover{
  background-color: royalblue;
}
.button_face1:hover{
  background-color: #30a40b;
}
.ss {
  position: relative;
  margin-left: 138px;
  height: 50px;
  width: 370px;
  top: -333px;
  font-family: Helvetica;
}
.sl {
  position: relative;
  margin-left: 27px;
  height: 50px;
  width: 370px;
  top: -333px;
  font-family: Helvetica;
  color: #1877F8;
}
.tx {
  position: relative;
  margin-left: 17px;
  height: 50px;
  width: 370px;
  top: -288px;
  font-family: Helvetica;
  color: black;
  font-size: small;
  text-align: center;
}
.urls1 {
  position: relative;
  margin-left: 206px;
  height: 50px;
  width: 683px;
  top: -16px;
  font-family: Helvetica;
  color: black;
  font-size: small;
  text-align: left;
}
a.urls {
  margin-left: 10px;
  position: relative;
  width: 30px;
  font-size: 12px;
  color: #8A8D91;
  text-decoration: none;
}
.texts {
  margin-left: 200px;
  position: relative;
  top: -37px;
  width: 1030px;
}
