.main_classes {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
}
.m1up {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}
.m1left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  background-color: white;
  height: 100%;
}
.m1right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  background-color: white;
  height: 100%;
}
.urlup {
  margin-right: 1em;
  margin-top: 1em;
}
.image_mi {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 50%;
}
.image_us {
  width: 70%;
}
.m2 {
  margin-right: -10%;
  margin-left: -10%;
  height: 600px;
}
.laptop {
  width: 100%;
}
.m2inner {
  margin-top: -25%;
  margin-left: 9%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.m2inner-text {
  position: relative;
  font-size: 140%;
  color: white;
  font-family: Helvetica;
}
.m3 {
  float: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.m3inbox {
  width: 24%;
  display: flex;
  flex-direction: column;
}
.full {
  width: 100%;
}
.m3text {
  font-family: Helvetica;
}
.font_16{
  font-size: 16px;
}
.m4 {
  margin-top: 7em;
}
.m3inbox a {
  color: #1877F8;
  font-weight:bold;
  text-decoration: none;
}
.m3inbox a:hover {
  color: #1877F8;
  font-weight:bold;
  text-decoration: underline;
}
.m1up a {
  color: black;
  font-family: Helvetica;
  text-decoration: none;
}
.m1up a:hover {
  color: black;
  font-family: Helvetica;
  text-decoration: underline;
}
.m2 button {
  margin-top: 1em;
  background-color: #1877F8;
  color: white;
  border: #1877F8;
  margin-right: 50%;
  height: 3em;
  font-family: Helvetica;
  font-weight:bold;
}
.m2 button:hover {
  margin-top: 1em;
  background-color: #2e4c82;
  color: white;
  border: #2e4c82;
  margin-right: 50%;
  height: 3em;
  font-family: Helvetica;
  font-weight:bold;
}
.m4 {
  width: 100%;
  background-color: #E6E6E6;
  height: 37em;
  display: flex;
  flex-direction: row;
}
.center_x {
  margin-right: auto;
  margin-left: auto;
}
.center_y {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.m4 h1{
  color: black;
  font-family: Helvetica;
}
.m4 p{
  color: black;
  font-family: Helvetica;
}
.m4 button{
  margin-top: 1em;
  background-color: #1877F8;
  color: white;
  border: #1877F8;
  font-family: Helvetica;
  font-weight:bold;
  height: 3em;
  width: 6em;
}
.m4 button:hover{
  margin-top: 1em;
  background-color: #2e4c82;
  color: white;
  border: #2e4c82;
  font-family: Helvetica;
  font-weight:bold;
  height: 3em;
  width: 6em;
}
.m6 {
  margin-top: 10em;
  width: 104%;
  margin-right: 0em;
  margin-left: 0em;
  background-color: #eaeaea;
  height: 20em;
  display: flex;
  flex-direction: column;
}
.m6in {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}
.m6out {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  max-width: 10em;
}
.m6 a{
  font-family: Helvetica;
  font-size: 10px;
  margin-top: 1em;
}
.m6 h{
  font-family: Helvetica;
  font-size: 15px;
  color: #555555;
}
.m6 a:hover{
  font-family: Helvetica;
  font-size: 10px;
  margin-top: 1em;
  text-decoration: underline;
}
